@import 'tailwindcss';

@theme {
	--color-neutral: #ffffff;
	--color-primary: #2a85ff;
	--color-primary-deep: #0069f6;
	--color-primary-mild: #4996ff;
	--color-primary-subtle: #2a85ff1a;
	--color-error: #ff6a55;
	--color-error-subtle: #ff6a551a;
	--color-success: #10b981;
	--color-success-subtle: #05eb7624;
	--color-info: #2a85ff;
	--color-info-subtle: #2a85ff1a;
	--color-warning: #f59e0b;
	--color-warning-subtle: #ffd40045;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	button, [role=button] {
		cursor: pointer;
	}

	body {
		@apply text-gray-500 dark:text-gray-400 text-sm bg-gray-100 dark:bg-gray-950 leading-normal font-medium;
		-webkit-font-smoothing: antialiased;
	}

	h1,
	.h1 {
		@apply text-4xl font-bold text-gray-900 dark:text-gray-100;
	}

	h2,
	.h2 {
		@apply text-3xl font-bold text-gray-900 dark:text-gray-100;
	}

	h3,
	.h3 {
		@apply text-2xl font-bold text-gray-900 dark:text-gray-100;
	}

	h4,
	.h4 {
		@apply text-xl font-bold text-gray-900 dark:text-gray-100;
	}

	h5,
	.h5 {
		@apply text-lg font-bold text-gray-900 dark:text-gray-100;
	}

	h6,
	.h6 {
		@apply text-base font-semibold text-gray-900 dark:text-gray-100;
	}

	hr {
		@apply border-gray-200 dark:border-gray-600;
	}
}

@layer components {
	.heading-text {
		@apply text-gray-900 dark:text-gray-100;
	}
}